*{
    padding: 0;
}
.frome1{
    display: flex;
   flex-direction: column;
    min-width: 50%;
    background-color: antiquewhite;
    text-align: center;
    justify-items: center;
    padding: 50px;
}
.frome1 input{
    margin: 10px 8px;
    padding: 10px;
}
input[type=submit]{
    background-color: rgb(255, 204, 0);
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    min-width: 50%;
    display: inline-block;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}